[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# Switch to main repo after PR https://github.com/Holzhaus/sphinx-multiversion/pull/64 is merged
sphinx-multiversion = {editable = true,git = "https://github.com/DiamondLightSource/sphinx-multiversion.git",ref = "only-arg"}

# Make sure lockfile is usable on other platforms
atomicwrites = "*"

# Test and docs deps
pytest-cov = "*"
# remove this dependency once flake8 has dropped "importlib-metadata <=4.3"
# https://github.com/PyCQA/flake8/pull/1438
flake8 = "<=3.9.2"
importlib-metadata = "<5"
pytest-flake8 = "<=1.1.0"
sphinx-rtd-theme = "*"

[packages]
# All other package requirements from setup.cfg
epicsdbbuilder = {editable = true,path = "."}

[scripts]
tests = "python -m pytest"
docs = "sphinx-build -EWT --keep-going docs build/html"
# Delete any files that git ignore hides from us
gitclean = "git clean -fdX"
