[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# Switch to main repo after PR https://github.com/Holzhaus/sphinx-multiversion/pull/64 is merged
sphinx-multiversion = {editable = true,git = "https://github.com/dls-controls/sphinx-multiversion.git",ref = "only-arg"}

# Make sure lockfile is usable on other platforms
atomicwrites = "*"

# Test and docs deps
pytest-cov = "*"
pytest-flake8 = "*"
sphinx-rtd-theme = "*"

[packages]
# All other package requirements from setup.cfg
epicsdbbuilder = {editable = true,path = "."}

[scripts]
tests = "python -m pytest"
docs = "sphinx-build -EWT --keep-going docs build/html"
# Delete any files that git ignore hides from us
gitclean = "git clean -fdX"
